<?php
//Datenbank
//für lokalen Betrieb anpassen!
//Host
putenv("DB_HOST=127.0.0.1");
//Datenbankname
putenv("DB_NAME=");
//charset
putenv("DB_CHARSET=utf8");
//DB user
putenv("DB_USER=");
//DB user Passwort
putenv("DB_USER_PW=");

//___________________________________________________________________

//lokale Installation
define("ROOTPATH",__DIR__.DIRECTORY_SEPARATOR);
putenv("ROOT_URL=");
putenv("ROOT_URL_PATH=");

//___________________________________________________________________
